node_modules/

/target
/checkouts
/src/gen
/ext/js
ext/css/ui.css
portfolio/js/

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/


.calva/
.clj-kondo/.cache
.lsp/.cache
