;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[com.cognitect/transit-cljs "0.8.280"]]

 :builds
 {:ext
  {:target :esm
   :output-dir "ext/js"
   :runtime :custom
   :modules
   {:shared
    {:entries []}
    :panel
    {:init-fn demo.panel/init
     :depends-on #{:shared}}
    :tab
    {:init-fn demo.tab/init
     :depends-on #{:shared}}}}}}
