;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]
  [re-frame "1.4.3"]
  [com.cognitect/transit-cljs "0.8.280"]
  [com.thheller/shadow-css "0.4.6"]
  [no.cjohansen/portfolio "2024.03.18"]]

 :dev-http
 {8280 "ext"
  8290 ["portfolio" "ext/css" "classpath:public"]}

 :builds
 {:ext
  {:target :esm
   :output-dir "ext/js"
   :runtime :custom
   :modules
   {:shared
    {:entries []}
    :panel
    {:init-fn grid-show.panel/init
     :depends-on #{:shared}}
    :tab
    {:init-fn grid-show.tab/init
     :depends-on #{:shared}}}}

  :portfolio
  {:target :browser
   :output-dir "portfolio/js"
   :asset-path "/js"
   :modules {:scenes {:init-fn grid-show.scenes/init}}}}}
